AIO/AIO/Service References/AIOWebService/index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:aio" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:aio" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:aio">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="teachRequest">
    <wsdl:part name="pattern" type="xsd:string" />
    <wsdl:part name="provision" type="xsd:string" />
    <wsdl:part name="nick" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="authority" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="teachResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="talkRequest">
    <wsdl:part name="pattern" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="authority" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="talkResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="aioPortType">
    <wsdl:operation name="teach">
      <documentation>Yeni öğreti oluşturma işlemi yapar.</documentation>
      <wsdl:input message="tns:teachRequest" />
      <wsdl:output message="tns:teachResponse" />
    </wsdl:operation>
    <wsdl:operation name="talk">
      <documentation>Konuşma işlemi yapar.</documentation>
      <wsdl:input message="tns:talkRequest" />
      <wsdl:output message="tns:talkResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aioBinding" type="tns:aioPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="teach">
      <soap:operation soapAction="urn:aio#teach" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:aio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:aio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="talk">
      <soap:operation soapAction="urn:aio#talk" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:aio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:aio" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="aio">
    <wsdl:port name="aioPort" binding="tns:aioBinding">
      <soap:address location="http://aio.gencutopia.com/ws/rpc/aio/aio.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>